.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
}

.config-modal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.config-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.config-group label {
  margin-bottom: 6px;
  font-weight: bold;
}

.config-group input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn-cancelar {
  flex: 1;
  background: #ccc;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.btn-guardar {
  flex: 1;
  background: var(---colorBase4);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-guardar:hover{
    background-color: var(---colorBase5);
    scale: 110%;
}

.labelConfiguracion{
    font-size: 1.6rem;
}

.nombreDeModalDeConfiguracion{
    font-size: 2.2rem;
}