.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
}

.pago-modal h2 {
  margin-bottom: 16px;
  text-align: center;
}

.pago-info p {
  margin: 6px 0;
}

.pago-info .total {
  font-size: 1.2em;
  text-align: center;
  margin-top: 12px;
}

.modal-actions {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.btn-cancelar {
  flex: 1;
  background: #ccc;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-cancelar:hover{
    background-color: #b8b8b8cc;
    scale: 110%;
}

.btn-confirmar {
  flex: 1;
  background: var(---colorBase1);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}
.btn-confirmar:hover{
    background-color: var(---colorBase3);
    scale: 110%;
}
.textoDeModalDePago{
    font-size: 1.6rem;
}