:root{
    ---colorBase1: #0E69B2;
    ---colorBase2: #e4e4e4;
    ---colorBase3: #114d7e;
}
.inputsInfo{
    padding-top: 2rem;
}
.formularioDeRegistro{
    background-color: lightgray;
    height: 70vh;

}
.labelInput{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(---colorBase1);
    color: var(---colorBase2);
    padding: 0.515rem 1rem;
    border-radius: 0.5rem 0rem 0rem 0rem;

}
.labelInput-tipo2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.inputInfo{
    background-color: var(---colorBase2);
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 0.45rem 1rem;
    margin: 0;
    border-radius: 0rem 0rem 0.5rem 0rem;
}
.btnRegistro{
    background-color: var(---colorBase1);
    color: var(---colorBase2);
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
    margin-top: 1rem;
}
.btnRegistro:hover{
    background-color: var(---colorBase3);
    transition: all 300ms ease;
    scale: 110%;
}
/* control de botones de veichulo */
.btnDeTpoDeVehiculo{
    margin-top: 1rem;
}
.btnDeIcono{
    background-color: var(---colorBase1);
    transition: all 300ms ease;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    width: 12rem;
    height: 12rem;
}
.btnDeIcono:hover{
    background-color: var(---colorBase3);
    scale: 110%;
}
.iconoDeVehiculo{
    width: 100%;
}
.btnDeIcono.activo{
    background-color: var(---colorBase3);
}