
.vehicle-card{
    background-color: var(---colorBase6);
    height: 26rem;
    width: 20rem;
    border-radius: 1rem;
    margin: 0.5rem;
}
.button-group{
    display: flex;
    justify-content: space-around;
    width: 8rem;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0rem;
}
.plate-number{
    font-size: 2rem;
    color: var(---colorBase2);
}
.entry-text{
    color: var(---colorBase2);
    font-size: 1.4rem;
}
.iconoDeCards{
    width: 100%;
    height: 15rem;
    object-fit: contain;
}
.btn-edit{
    background-color: var(---colorBase1);
    color: var(---colorBase2);
    border: none;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}
.btn-edit:hover{
    scale: 110%;
    background-color: var(---colorBase3);
}
.btn-pay{
    background-color: var(---colorBase4);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms ease;
    color: var(---colorBase1);
    cursor: pointer;
}
.btn-pay:hover{
    background-color: var(---colorBase5);
    scale: 110%;
}